<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316356944079-r183hd2mrc4u9sfkgtlku2hkkqgnrdcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316356944079-r183hd2mrc4u9sfkgtlku2hkkqgnrdcs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316356944079-bd7ibrvgac8vsqm1227n5njbnkfueups.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH5k8TrVUkg-jRMPN33FHWnhpRD8yefYc</string>
	<key>GCM_SENDER_ID</key>
	<string>316356944079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.legindividual</string>
	<key>PROJECT_ID</key>
	<string>loveeasygiving</string>
	<key>STORAGE_BUCKET</key>
	<string>loveeasygiving.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316356944079:ios:36a7db152268da5df317ba</string>
</dict>
</plist>